$complimentary-color:rgb(255, 238, 0);
$success-color:#047c00;
$text-color: #646464;
$primary-color:#660085;
$warning-color: rgb(202, 0, 40);
$secondary-color: #2a9bd0 // $complimentary-color:rgb(255, 238, 0);
// $success-color:#2d2ad0;
// $text-color: #979797;
// $primary-color:#047c00;
// // $primary-color:#079e01;
// // $primary-color:#08c502;
// $warning-color: rgb(202, 0, 40);
// $secondary-color:rgb(230, 253, 228);